.App {
  text-align: center;
}

.img1
{
  padding: 50px;
  margin-top:40px ;
  height: 10cm;
  width: 7cm;
}
.img2
{
  padding: 50px;
  margin-top:40px ;
  height: 10cm;
  width: 7cm;
}
.img3
{
  padding: 50px;
  margin-top:40px ;
  height: 10cm;
  width: 7cm;
}
.img4
{
  padding: 50px;
  margin-top:40px ;
  height: 10cm;
  width: 7cm;
}